@import url('https://fonts.googleapis.com/css?family=Varela%20Round');

*{
    font-family: 'Varela Round';
    font-size:40px;
}

body{
    display: block;
    background: url('./images/green.jpg');
    background-size: cover;
}

div{
    margin-top: 15px;
    text-align: center;
    text-justify: center;
    font-size:100px;
}

h1{
    color: goldenrod;
    font-size:60px;
}

button{
    background: goldenrod;
    color: #016f32;
}
div #start{
    border-radius: 12px;
    width: 160px;
    height: 65px;
}
p > span#four{
    font-weight:bolder;
}
span{
    color: white;
}

